@import '../../assest/style/colors.scss';

.orange {
  background: $DEEP_ORANGE !important;
  border-color: $DEEP_ORANGE !important;
}

.white {
  background: $WHITE !important;
  border-color: $WHITE !important;
  color: $DEEP_ORANGE !important;
}
