@import '../../../assest/style/colors.scss';
@import '../../../assest/style/extends.scss';

.loginPage {
  display: flex;
  height: calc(100vh - 50px);
  justify-content: center;
  align-items: center;
  background: none;
  .loginContainer {
    display: flex;
    width: 15%;
    background: $WHITE;
    padding: 20px 10px;
    border-radius: 4px;
    @include shadow;
    @media (max-width: 480px) {
      width: 85%;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      width: 50%;
    }
    @media screen and (min-width: 769px) and (max-width: 1024px) {
      width: 35%;
    }
    @media screen and (min-width: 1025px) and (max-width: 1200px) {
      width: 35%;
    }
    @media screen and (min-width: 1201px) {
      width: 15%;
    }
  }
}
